Repository retaildevcrews/ngsa, pull requests merged in 2021-03, with the labels that each got.

#513 Gitops/ana/510 zone region args
  gitops/charts/ngsa/templates/deployment.yaml
  gitops/deployments/dev/ngsa-cosmos.yaml
  gitops/deployments/dev/ngsa-memory.yaml
  gitops/deployments/preprod/central/ngsa-cosmos.yaml
  gitops/deployments/preprod/central/ngsa-memory.yaml
  gitops/deployments/preprod/east/ngsa-cosmos.yaml
  gitops/deployments/preprod/east/ngsa-memory.yaml
  gitops/deployments/preprod/west/ngsa-cosmos.yaml
  gitops/deployments/preprod/west/ngsa-memory.yaml
Labels: FC:Gitops-Arc

#518 Add instructions to update pre-prod alerts via cli (rest) commands
  docs/Alerts.md
  docs/alerts/FailedClientRequests-cosmos.json
  docs/alerts/FailedClientRequests-memory.json
  docs/alerts/FailedServerRequests-cosmos.json
  docs/alerts/FailedServerRequests-memory.json
  docs/alerts/HighClientResponseTime-memory.json
  docs/alerts/HighClientResponseTimeCentralUS-cosmos.json
  docs/alerts/HighClientResponseTimeEastUS2-cosmos.json
  docs/alerts/HighClientResponseTimeWestUS2-cosmos.json
  docs/alerts/HighServerResponseTime-memory.json
  docs/alerts/HighServerResponseTimeCentralUS-cosmos.json
  docs/alerts/HighServerResponseTimeEastUS2-cosmos.json
  docs/alerts/HighServerResponseTimeWestUS2-cosmos.json
  docs/alerts/README.md
  docs/alerts/TooFewClientRequests-cosmos.json
  docs/alerts/TooFewClientRequests-memory.json
  docs/alerts/TooFewServerRequests-cosmos.json
  docs/alerts/TooFewServerRequests-memory.json
  docs/alerts/TooManyServerRequests-cosmos.json
  docs/alerts/TooManyServerRequests-memory.json
  docs/alerts/updatealerts.sh
Labels: Observability, Observe

#520 updated port for load test
  IaC/LoadDemo/load-100.yaml
  IaC/LoadDemo/load-200.yaml
  IaC/LoadDemo/load-50.yaml
Labels: Bug, TestLoad

#526 Updated Working Agreement & include Onboarding document
  .github/ISSUE_TEMPLATE/PointDev.md
  docs/Onboarding.md
  docs/WorkingAgreement.md
Labels: Documentation, Process

#528 use Cosmos in central
  gitops/deployments/preprod/east/ngsa-cosmos.yaml
  gitops/deployments/preprod/west/ngsa-cosmos.yaml
Labels: FC:Gitops-Arc, WCNP

#519 Deploy ngsa-apps and loderunner in aks-secure-baseline spike infrastructure
  spikes/aks-secure-baseline/README.md
  spikes/aks-secure-baseline/charts/ngsa/.helmignore
  spikes/aks-secure-baseline/charts/ngsa/Chart.yaml
  spikes/aks-secure-baseline/charts/ngsa/templates/_helpers.tpl
  spikes/aks-secure-baseline/charts/ngsa/templates/deployment.yaml
  spikes/aks-secure-baseline/charts/ngsa/templates/service.yaml
  spikes/aks-secure-baseline/charts/ngsa/templates/serviceaccount.yaml
  spikes/aks-secure-baseline/charts/ngsa/values.yaml
  spikes/aks-secure-baseline/cluster-manifests/a0008/ingress-network-policy.yaml
  spikes/aks-secure-baseline/cluster-manifests/a0008/ns-a0008.yaml
  spikes/aks-secure-baseline/cluster-manifests/cluster-baseline-settings/aad-pod-identity.yaml
  spikes/aks-secure-baseline/cluster-manifests/cluster-baseline-settings/akv-secrets-store-csi.yaml
  spikes/aks-secure-baseline/cluster-manifests/cluster-baseline-settings/flux.yaml
  spikes/aks-secure-baseline/cluster-manifests/cluster-baseline-settings/kured.yaml
  spikes/aks-secure-baseline/cluster-manifests/cluster-baseline-settings/ns-cluster-baseline-settings.yaml
  spikes/aks-secure-baseline/cluster-manifests/kube-system/container-azm-ms-agentconfig.yaml
  spikes/aks-secure-baseline/deployments/spike/common/loderunner.yaml
  spikes/aks-secure-baseline/deployments/spike/east/ngsa-cosmos.yaml
  spikes/aks-secure-baseline/deployments/spike/east/ngsa-memory.yaml
Labels: SPIKE

#534 Document the current naming convention of k8s resources
  docs/NamingConvention.md
Labels: Documentation

#536 Turn off KEDA autoscaling for DEV Helm deployment
  gitops/deployments/dev/ngsa-cosmos.yaml
  gitops/deployments/dev/ngsa-memory.yaml
Labels: CI-CD, PointDev, S:XSmall

#541 Turn off KEDA autoscaling for PRE-PROD Helm deployment
  gitops/deployments/preprod/central/ngsa-cosmos.yaml
  gitops/deployments/preprod/central/ngsa-memory.yaml
  gitops/deployments/preprod/east/ngsa-cosmos.yaml
  gitops/deployments/preprod/east/ngsa-memory.yaml
  gitops/deployments/preprod/west/ngsa-cosmos.yaml
  gitops/deployments/preprod/west/ngsa-memory.yaml
Labels: CI-CD, PointDev, S:Small

#539 Spike/oms log analytics
  spikes/oms-log-analytics/0-crd.yaml
  spikes/oms-log-analytics/1-clusterrole.yaml
  spikes/oms-log-analytics/2-oms-rs-configmap.yaml
  spikes/oms-log-analytics/3-container-azm-ms-agentconfig.yaml
  spikes/oms-log-analytics/4-daemonset.yaml
  spikes/oms-log-analytics/5-deployment.yaml
  spikes/oms-log-analytics/README.md
  spikes/oms-log-analytics/agent-logs.png
  spikes/oms-log-analytics/workspace-query-results.png
Labels: FC:Monitoring, SPIKE

#540 Deploy fluentbit to aks-secure-baseline spike infrastructure
  spikes/aks-secure-baseline/README.md
  spikes/aks-secure-baseline/charts/fluentbit/.helmignore
  spikes/aks-secure-baseline/charts/fluentbit/Chart.yaml
  spikes/aks-secure-baseline/charts/fluentbit/templates/NOTES.txt
  spikes/aks-secure-baseline/charts/fluentbit/templates/_helpers.tpl
  spikes/aks-secure-baseline/charts/fluentbit/templates/config-log.yaml
  spikes/aks-secure-baseline/charts/fluentbit/templates/config.yaml
  spikes/aks-secure-baseline/charts/fluentbit/templates/daemonset.yaml
  spikes/aks-secure-baseline/charts/fluentbit/templates/role.yaml
  spikes/aks-secure-baseline/charts/fluentbit/values.yaml
  spikes/aks-secure-baseline/deployments/spike/east/fluentbit.yaml
Labels: FC:PnP-deploy

#557 Document learnings from integration csi driver in aks-secure-baseline with app secrets.
  docs/NamingConvention.md
  spikes/aks-secure-baseline/README.md
  spikes/aks-secure-baseline/charts/fluentbit/templates/daemonset.yaml
  spikes/aks-secure-baseline/charts/fluentbit/values.yaml
  spikes/aks-secure-baseline/charts/ngsa/templates/deployment.yaml
  spikes/aks-secure-baseline/charts/ngsa/values.yaml
  spikes/aks-secure-baseline/deployments/spike/east/fluentbit.yaml
  spikes/aks-secure-baseline/deployments/spike/east/ngsa-cosmos.yaml
  spikes/aks-secure-baseline/deployments/spike/east/ngsa-memory.yaml
  spikes/aks-secure-baseline/fluentbit-csi-template.yaml
  spikes/aks-secure-baseline/fluentbit-pod-identity-template.yaml
  spikes/aks-secure-baseline/ngsa-csi-template.yaml
  spikes/aks-secure-baseline/ngsa-pod-identity-template.yaml
Labels: Documentation, SPIKE

#586 Adjust threshold alerts to reduce triggered frequently.
  docs/alerts/HighClientResponseTimeWestUS2-cosmos.json
  docs/alerts/HighServerResponseTimeWestUS2-cosmos.json
Labels: Alert, Observability, Observe

#577 Use Cosmos read-write key instead of read only for CRUD support
  IaC/AKS/README.md
  IaC/AKS/scripts/create-cluster-env.bash
  IaC/DevCluster/cheatsheet.txt
  IaC/DevCluster/ngsa-cosmos/README.md
  docs/MovingPreProdCluster.md
  spikes/aks-secure-baseline/README.md
Labels: Documentation

#634 Adding HTTPS check in Grafana Annotation Script
  spikes/grafana_auto_annotation/README.md
  spikes/grafana_auto_annotation/Sample-Annotation.png
  spikes/grafana_auto_annotation/annotate_gf.bash
  spikes/grafana_auto_annotation/grafana-vscode-rest.http
Labels: FC:Monitoring, SPIKE

#648 Removed gulp dependency #647
  spikes/ngsa-typescript/package-lock.json
  spikes/ngsa-typescript/package.json
Labels: Security
